

.end{
    display: flex;
    gap: 20px;
}
.start{
    display: flex;
    gap: 40px;
}
span{
    color: rgb(49, 138, 55);
}
.display{
    display: flex;
    justify-content: center;
}
.soso{
    display: flex;
    gap: 110px;
}
.roko>img{
    width: 100%;
}
.img>img{
    width: 10%;
    background-color: white;
}
.meen{
    padding: 0%;
    margin-right: 20%;
    /* margin-right: 30%; */
}
.moon{
    padding: 0%;
    margin-left: 30%;
}